recursive-include doc Makefile *.bat *.json *.md *.png *.py *.rst
recursive-include orangecontrib/imageanalytics *.svg *.png *.jpg

include orangecontrib/imageanalytics/tests/test_images/*
include *.py *.txt *.pypi *.md *.yml *.ini .coveragerc
