# change when release >0.7.0 of hyper will be available
hypertemp
numpy>=1.13.0
Orange3>=3.7.0
Pillow>=4.2.1,!=5.1.0
requests
cachecontrol
lockfile
ndf>=0.1.1  # lower version do not limit numpy version and causes sigbus error
